@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body {
	font-family: 'Nunito Sans', sans-serif;
	position: relative;

	background: linear-gradient(245deg, #90c1ec, #fffde4);
	background-size: 400% 400%;

	color: rgb(0, 0, 0);
	transition:
		color 0.5s,
		background-color 0.3s;
}

.dark body {
	background: linear-gradient(245deg, #464646, #353535);
	background-size: 400% 400%;
	color: rgb(255, 255, 255);
}

code {
	border-radius: 4px;
	padding: 4px 8px;
	background-color: rgb(221, 221, 221);
	transition:
		color 0.5s,
		background-color 0.3s;
}

.dark code {
	background-color: rgb(38, 38, 38);
}

.font-rancho {
	font-family: 'Rancho', cursive;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: #c0c0c0 transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 4px;
}
*::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
	background-color: transparent;
}

*::-webkit-scrollbar-track:active {
	background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #c0c0c0;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #a3a3a3;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #a3a3a3;
}

/* TRANSITION */

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
