@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');

.font-rancho {
    font-family: 'Rancho', cursive;
}

html {
    height: 100%;
}

html::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 50%, transparent 50%, rgba(0, 0, 0, 0.1) 75%);
	z-index: -1;
}

body {
	font-family: 'Montserrat', sans-serif;
	position: relative;

	background: linear-gradient(245deg, #90c1ec, #fffde4);
    background-size: 400% 400%;
    -webkit-animation: gradientBG 15s ease infinite;
    -moz-animation: gradientBG 15s ease infinite;
    -o-animation: gradientBG 15s ease infinite;
    animation: gradientBG 15s ease infinite;
}



.dark body {
	background: linear-gradient(245deg, #464646,#353535);
    background-size: 400% 400%;

    -webkit-animation: gradientBG 15s ease infinite;
    -moz-animation: gradientBG 15s ease infinite;
    -o-animation: gradientBG 15s ease infinite;
    animation: gradientBG 15s ease infinite;
}

@-webkit-keyframes gradientBG {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes gradientBG {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-o-keyframes gradientBG {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes gradientBG {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}